/* 
    *  STYLES LIST
    *   
    *  I - GENERAL STYLES
    * II - NAVIGATION BAR
    * III - WELCOME AREA OF THE PAGE
    * IV - ABOUT BOX WITH QUIZ INFORMATIONS   
    * V - QUIZ START AND END BOX
    * VI - QUIZ BOX
    * VII - QUIZ WARNING BOX ON EXIT
    * VIII - QUIZ REPORT BOX
    * IX - VISIBILITY ANIMATION STAGES
*/


/****** I - GENERAL STYLES ******/

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff3f3;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    margin-bottom: 1em;
}


/****** II - NAVIGATION BAR ******/

.brand {
    color: black;
    margin: auto 1em;
}

.navigation-bar {
    background-color: #FFEDED;
    border: 6px solid #FFCCD2;
    /* #FFCCD2 */
    border-radius: 9px;
    margin: 0em 0em 1em;
}

.navbar-item {
    border: 1px solid #FFEDED;
    margin-left: 1em;
}

.navbar-item:hover {
    background-color: #FFCCD2;
    color: white;
    border: 1px solid #FFCCD2;
    border-radius: 7px;
}

.navbar-button {
    color: #FFCCD2;
    margin-right: 0.5em;
}


/****** III - WELCOME AREA OF THE PAGE ******/

.welcome-area {
    padding: 2em;
}

.animated-text-area {
    background-color: #FFEDED;
    border: 3px solid #FFEDED;
    border-radius: 8px;
    padding: 8em 1em;
}

.welcome-area-animated-txt {
    font-weight: bold;
    text-align: center;
    font-size: 4em;
}

.home {
    /* background-color: #FFEDED; */
    color: rgb(79, 79, 79);
    margin: 2em auto;
    /* margin: 4em 2.5em; */
}


/****** IV - ABOUT BOX WITH QUIZ INFORMATIONS ******/

.about {
    background-color: #FFEDED;
    border: 6px solid #FFCCD2;
    border-radius: 7px;
    color: rgb(79, 79, 79);
    padding: 2em;
    margin: 2em auto;
    /* margin: 4em 2.5em; */
    text-align: left;
}


/****** V - QUIZ START AND END BOX ******/

.quiz-start-end {
    background-color: #FFEDED;
    border: 6px solid #FFCCD2;
    border-radius: 7px;
    color: rgb(79, 79, 79);
    padding: 2em 1em;
    margin: 2em auto;
    /* max-width: 70em; */
    text-align: center;
}

.right-questions {
    color: rgb(79, 79, 79);
    font-weight: bold;
    text-align: center;
}

.btn_end_quiz {
    background-color: #EA8A8A;
    /* deschis #eb9b6c */
    border: 2px solid #cb6e39;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    margin: 2em auto 1.5em;
    min-width: 80px;
    padding: 0.3em;
    width: 20%;
    text-align: center;
}

.btn_end_quiz:hover {
    background-color: #685454;
}


/****** VI - QUIZ BOX ******/

#quiz-name {
    color: rgb(79, 79, 79);
    border-bottom: 4px solid #FFCCD2;
    margin-top: 1.5em;
    padding: 0.2em;
}

.quiz {
    border: 6px solid #FFCCD2;
    /* #FFCCD2 */
    border-radius: 7px;
    background-color: #FFCCD2;
    margin: 3em auto;
    /* 1em */
}

.question-no {
    color: rgb(79, 79, 79);
    font-weight: bold;
    text-align: right;
    margin: 0.5em 0.1em 0.3em;
}

.question {
    background-color: #685454;
    /* #cb6e39 */
    border: solid #FFCCD2;
    /* #cb6e39; */
    border-radius: 6px;
    color: white;
    margin: 0.6em 0.1em 2em;
    padding: 1.8em 0.9em;
    font-weight: bold;
}

#question_text {
    font-weight: bold;
}

.answer {
    background-color: #FFEDED;
    border: 2px solid #eaa67f;
    border-radius: 6px;
    color: #674242;
    font-weight: bold;
    margin: 0.6em;
    min-height: 60px;
    text-align: left;
    padding-left: 1.7em;
    width: 96%;
    word-wrap: break-word;
    /* border: 3px solid black; */
}

#answer_1:hover,
#answer_2:hover,
#answer_3:hover,
#answer_4:hover {
    background-color: #F5FEC0;
}

.selected-answer {
    background-color: #F5FEC0;
}

.content {
    background-color: #FFCCD2;
    padding: 3px;
}

.btn_next {
    background-color: #EA8A8A;
    /* deschis #eb9b6c */
    border: 2px solid #cb6e39;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    margin: 2em auto 1.5em;
    max-width: 180px;
    padding: 0.3em;
    width: 30%;
    text-align: center;
}

.btn_next:hover {
    background-color: #685454;
    /* #cb6e39; */
}

.next {
    text-align: center;
}


/****** VII - QUIZ WARNING BOX ON EXIT ******/

.btn_warning_box {
    background-color: #EA8A8A;
    /* deschis #eb9b6c */
    border: 2px solid #cb6e39;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    margin: 1.5em auto 1em;
    max-width: 180px;
    padding: 0.3em;
    width: 60%;
    text-align: center;
}

.btn_warning_box:hover {
    background-color: #685454;
}


/****** VIII - QUIZ REPORT BOX ******/

.questions-answers {
    text-align: left;
}

.report {
    margin: 0.7em 3em;
    padding: 1em;
    border: 2px solid #FFCCD2;
    border-radius: 7px;
    word-wrap: break-word;
}

.report-question {
    font-weight: bold;
    margin: 1.5em 2em 0.5em;
}

.green {
    background-color: rgb(148, 253, 148);
    border: 1px solid rgb(148, 253, 148);
    border-radius: 7px;
}

.red {
    background-color: rgb(255, 127, 127);
    border: 1px solid rgb(255, 127, 127);
    border-radius: 7px;
}

hr {
    background-color: #FFCCD2;
    color: #FFCCD2;
    height: 5px;
    border: 1px solid #FFCCD2;
    border-radius: 7px;
    width: 92%;
    margin: 2.5em auto;
    opacity: 100%;
}

.report-restart-button {
    margin: 3em auto;
    background-color: #EA8A8A;
    /* deschis #eb9b6c */
    border: 2px solid #cb6e39;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    min-height: 35px;
    min-width: 80px;
    padding: 1em auto;
    width: 20%;
    text-align: center;
}

.report-restart-button:hover {
    background-color: #685454;
}

.hide {
    display: none;
}


/****** IX - VISIBILITY ANIMATION STAGES ******/

.visible {
    opacity: 1;
    color: #ec7373;
}

.partially-visible {
    opacity: 0.7;
    /* background-color: #F5FEC0; */
    color: #ec7373;
}

.hidden {
    opacity: 0.4;
    color: #ec7373;
}